In [1]:
import pandas as pd
import numpy as np
import itertools
import ta
from datetime import datetime
import warnings
from tqdm import tqdm
from utils import *
import config as config
from binance.client import Client
from binance.enums import *

warnings.filterwarnings('ignore')

In [2]:
names_crypto = ['btc','sol','ada','xrp','matic']

names_crypto = ['btc','sol','ada','xrp','matic']

cryptos = []
for crypto in names_crypto:    
    df_minute = pd.read_csv(f'binance/data/5minutes_{crypto}usdt_1Mar2023_1June2023.csv', index_col=0)
    df_minute['timeframe'] = '5minutes'
    # df_minute = df_minute[df_minute.time > '2023-04-29'].reset_index(drop=True)
    df_hour = pd.read_csv(f'binance/data/1hour_{crypto}usdt_1Mar2023_1June2023.csv', index_col=0)
    df_hour['timeframe'] = '1hour'

    df_all = pd.concat([df_minute, df_hour])
    df_all['crypto'] = crypto
    cryptos.append(df_all)

In [2]:
client = Client(config.API_KEY, config.SECRET_KEY, tld='com')

In [71]:
test_df = []

names_crypto = ['BTCUSDT','SOLUSDT','ADAUSDT','XRPUSDT','MATICUSDT']

names_crypto = ['BTCUSDT','SOLUSDT','ADAUSDT','XRPUSDT','MATICUSDT','ALPHAUSDT','OGUSDT','DOGEUSDT','FTMUSDT','LUNAUSDT']

for cr in names_crypto:

    historical = client.get_historical_klines(cr, '1h' ,"50 days ago UTC")
    hour1 = convert_df(historical)
    hour1['timeframe'] = '1hour'

    historical = client.get_historical_klines(cr, '5m' , "50 days ago UTC")
    minute5 = convert_df(historical)
    minute5['timeframe'] = '5minutes'

    this_crypto = pd.concat([hour1, minute5])
    this_crypto['crypto'] = cr
    test_df.append(this_crypto)

In [72]:
df_all = pd.concat(test_df)

In [73]:
indicators = {'EMA5':[5,20], 'rsi5':[20],'BB5':[14], 'BB1':[14]}

indicators = {'EMA5':[15,30,45], 'rsi5':[20], 'adx5':[14], 'BB5':[14], 'rsi1':[14],'BB1':[14]}

indicators = {'EMA5':[15,30,45], 'rsi5':[20], 
              'adx5':[14], 'BB5':[10,20], 'rsi1':[14],'BB1':[14]}

indicators = {'EMA5':[15,30,45], 'rsi5':[14], 'BB5':[10,20],'BB1':[10,20], 'rsi1':[14]}

indicators = {'EMA5':[15,30,45],'low5':[5,30], 'high5':[5,30], 'rsi5':[14], 'BB5':[10,20],'BB1':[20], 'rsi1':[14]}

indicators = {'EMA5':[15,30,45],'low5':[5,30], 'high5':[5,30], 'rsi5':[14],'volatility5':[30], 'BB5':[10,20],'BB1':[20], 'rsi1':[14]}

indicators = {'EMA5':[15,30,45],'low5':[5,30], 'diff%':[10], 'rsi5':[14], 'BB5':[10,20],'BB1':[20], 'rsi1':[14]}


df_use_crypto = []
for crypto in names_crypto:
    df_crypto = df_all[df_all.crypto == crypto]
    df_use = create_combinations(indicators, df_crypto)
    df_use_crypto.append(df_use)

df_use_crypto = pd.concat(df_use_crypto)

In [74]:
best_combi = pd.read_csv('binance/data/best_combi.csv',index_col=0)
best_combi

    0  1  2  3  4  5  6  7  8  9  total  vol  differ
0   0  0  0  0 -1  0  1  1  1 -1    181   56   30.94
1   0  0  0  0 -1  0  1  1  1  0    181   56   30.94
2   0  0  0  0 -1 -1  1  1  1 -1    181   56   30.94
3   0  0  0  0 -1 -1  1  1  1  0    181   56   30.94
4   0  0 -1  0 -1  0  1  1  1  0    155   47   30.32
5   0  0 -1  0 -1  0  1  1  1 -1    155   47   30.32
6   0  0 -1  0 -1 -1  1  1  1  0    155   47   30.32
7   0  0 -1  0 -1 -1  1  1  1 -1    155   47   30.32
8   0  0  0  0 -1 -1  0  1  1 -1    261   79   30.27
9   0  0  0  0 -1 -1  0  1  1  0    261   79   30.27
10  0  0  0  0 -1  0  0  1  1  0    261   79   30.27
11  0  0  0  0 -1  0  0  1  1 -1    261   79   30.27
12  0 -1  0  0 -1 -1  1  1  1 -1    152   46   30.26
13  0 -1  0  0 -1 -1  1  1  1  0    152   46   30.26
14  0 -1 -1  0 -1 -1  1  1  1 -1    152   46   30.26
15  0 -1  0  0 -1  0  1  1  1 -1    152   46   30.26
16  0 -1 -1  0 -1 -1  1  1  1  0    152   46   30.26
17  0 -1  0  0 -1  0  1  1  1  0    152   46   30.26
18  0 -1 -1  0 -1  0  1  1  1 -1    152   46   30.26
19  0 -1 -1  0 -1  0  1  1  1  0    152   46   30.26
20 -1  0  0  0 -1 -1  1  1  1  0    176   53   30.11
21 -1  0  0  0 -1  0  1  1  1 -1    176   53   30.11
22 -1  0  0  0 -1  0  1  1  1  0    176   53   30.11
23 -1  0  0  0 -1 -1  1  1  1 -1    176   53   30.11
24 -1  0  0  0 -1 -1  0  1  1 -1    254   76   29.92
25 -1  0  0  0 -1 -1  0  1  1  0    254   76   29.92
26 -1  0  0  0 -1  0  0  1  1 -1    254   76   29.92
27 -1  0  0  0 -1  0  0  1  1  0    254   76   29.92
28 -1  0 -1  0  0  0  0  1  1 -1    238   71   29.83
29 -1  0 -1  0  0  0  0  1  1  0    238   71   29.83
30 -1  0 -1  0  0 -1  0  1  1  0    238   71   29.83
31 -1  0 -1  0  0 -1  0  1  1 -1    238   71   29.83
32 -1  0 -1  0 -1 -1  1  1  1  0    151   45   29.80
33 -1  0 -1  0 -1 -1  1  1  1 -1    151   45   29.80
34 -1  0 -1  0 -1  0  1  1  1  0    151   45   29.80
35 -1  0 -1  0 -1  0  1  1  1 -1    151   45   29.80
36 -1  0 -1 -1  0  0  0  1  1  0    222   66   29.73
37 -1  0 -1 -1  0  0  0  1  1 -1    222   66   29.73
38 -1 -1  0 -1  0  0  0  1  1 -1    222   66   29.73
39 -1 -1 -1 -1  0  0  0  1  1  0    222   66   29.73

In [75]:
best_combi_unique = best_combi.values[:,:-3]

In [76]:
dfs_info = []
for crypto in names_crypto:
    df_use_c = df_use_crypto[df_use_crypto.crypto == crypto]
    result = run_ghandi(df_use_c, best_combi_unique, threshold=10)
    try:
        df_info = result[1]
        df_info['crypto'] = crypto
        dfs_info.append(df_info)
    except:
        pass

number of sub_spaces combinations:  10

100%|██████████| 40/40 [00:00<00:00, 53.37it/s]

number of sub_spaces combinations:  10

100%|██████████| 40/40 [00:00<00:00, 61.62it/s]

number of sub_spaces combinations:  10

100%|██████████| 40/40 [00:00<00:00, 60.35it/s]

number of sub_spaces combinations:  10

100%|██████████| 40/40 [00:00<00:00, 75.74it/s]

number of sub_spaces combinations:  10

100%|██████████| 40/40 [00:00<00:00, 65.42it/s]

number of sub_spaces combinations:  10

100%|██████████| 40/40 [00:00<00:00, 67.73it/s]

number of sub_spaces combinations:  10

100%|██████████| 40/40 [00:00<00:00, 69.85it/s]

number of sub_spaces combinations:  10

100%|██████████| 40/40 [00:00<00:00, 79.60it/s]

number of sub_spaces combinations:  10

100%|██████████| 40/40 [00:00<00:00, 74.89it/s]

number of sub_spaces combinations:  10

100%|██████████| 40/40 [00:00<00:00, 74.66it/s]

In [77]:
df = result[1]

df = pd.concat(dfs_info)
df.drop_duplicates(inplace=True)

df['dif_time'] =  df['time_sold'] - df['time_buy']
df['dif_time'] = df['dif_time'].apply(lambda x: abs(x.total_seconds()/60))

In [78]:
df.shape

(250, 11)

In [79]:
df.sort_values('time_buy',inplace=True)

df['dis_time'] = df['time_buy'] - df['time_sold'].shift(1)
df['dis_time'] = df['dis_time'].apply(lambda x: abs(x.total_seconds()/60))

df = df[df.dis_time > 5]
df.shape

(215, 12)

In [80]:
df.tail(10)

,time_buy,price_buy,time_sold,price_sold,%,low,high,high_first,low_first,crypto,dif_time,dis_time
20,2023-06-07 03:00:00,0.3360,2023-06-07 03:55:00,0.3374,0.416667,0.000000,0.684524,1,0,ADAUSDT,55.0,40.0
13,2023-06-07 03:00:00,19.6600,2023-06-07 03:40:00,19.8900,1.169888,0.000000,1.169888,1,0,SOLUSDT,40.0,55.0
18,2023-06-07 03:00:00,0.2938,2023-06-07 03:15:00,0.2970,1.089176,0.000000,1.089176,1,0,FTMUSDT,15.0,40.0
16,2023-06-07 07:30:00,0.1330,2023-06-07 07:45:00,0.1293,-2.781955,-2.781955,0.000000,0,1,ALPHAUSDT,15.0,255.0
14,2023-06-07 09:05:00,19.1600,2023-06-07 10:00:00,18.8700,-1.513570,-1.513570,0.000000,0,1,SOLUSDT,55.0,65.0
23,2023-06-07 09:10:00,3.8470,2023-06-07 09:20:00,3.8870,1.039771,0.000000,1.039771,1,0,OGUSDT,10.0,50.0
15,2023-06-07 09:25:00,0.7366,2023-06-07 09:45:00,0.7467,1.371165,0.000000,1.371165,1,0,LUNAUSDT,20.0,55.0
15,2023-06-07 10:00:00,18.8700,2023-06-07 10:55:00,19.0700,1.059883,-0.953895,1.059883,1,0,SOLUSDT,55.0,15.0
36,2023-06-07 15:00:00,26201.3700,2023-06-07 15:55:00,26275.9000,0.284451,0.000000,0.589969,1,0,BTCUSDT,55.0,245.0
40,2023-06-08 09:45:00,26459.7800,2023-06-08 10:40:00,26451.8800,-0.029857,-0.029857,0.166290,0,0,BTCUSDT,55.0,1070.0

In [66]:
def high_low(x, low, high, threshold=0.3):

    if x < -1 and high < threshold:
        return True
    elif x > 1 and low > -threshold:
        return True
    elif x < -1 and high > threshold:
        return False
    elif x > 1 and low < -threshold:
        return False
    else:
        return 'neutral'
    
def calculate_profit(per, low, high, high_first, low_first):

    if high_first == 1:
        if per < -0.3:
            return -0.6
        else:
            return per - 0.3
    elif low_first == 1:
        if per > 0.3:
            return -0.6
        else:
            return -1*(per + 0.3)
    else:
        return 0

In [81]:
df['Month'] = df['time_buy'].dt.strftime('%m')
df['day'] = df['time_buy'].dt.strftime('%d')

In [86]:
df['result'] = df.apply(lambda row: high_low(row['%'], row['low'], row['high']), axis=1)
df['profit'] = df.apply(lambda row: calculate_profit(row['%'], row['low'], row['high'], row['high_first'],row['low_first']), axis=1)
df['profit$'] = (df.profit / 100) * 10000

In [69]:
for month in df.Month.unique():
    print(f'Profit in month {month}: ',df[df.Month == month]['profit$'].sum())

Profit in month 04:  2248.871818370184
Profit in month 05:  2568.799447910847
Profit in month 06:  2202.229698125756

In [18]:
for month in df.Month.unique():
    print(f'Profit in month {month}: ',df[(df.Month == month)&(df.result == True)].shape[0]/df[(df.Month == month)].shape[0] * 100)

Profit in month 03:  43.39622641509434
Profit in month 04:  34.375
Profit in month 05:  20.930232558139537
Profit in month 06:  57.14285714285714

In [87]:
df[df.Month == '05'].groupby('day')['profit$'].sum()

day
01    115.076116
02     26.089744
03    254.378432
04     19.371776
05   -121.541188
06    320.371432
07    -24.190770
08    708.507650
09    -60.000000
10     84.015573
11     46.467319
13     -7.931034
14      0.000000
15     64.219184
16    -36.783935
17     38.301385
18    128.097513
19     13.943971
21    154.490385
22      0.000000
23    110.565846
24    289.855417
25     74.870245
26    -42.039366
27    -60.000000
28    -13.622219
29     19.979239
30    222.046236
31    244.260497
Name: profit$, dtype: float64

In [90]:
df_not = df[df.result != 'neutral']
df_not.shape[0] / df.shape[0] * 100

31.03448275862069

In [24]:
df_not['result'].sum() / df_not.shape[0]

0.875

In [87]:
df_not

,time_buy,price_buy,time_sold,price_sold,%,low,high,high_first,low_first,crypto,result,profit,profit$
0,2023-03-13 01:35:00,21097.86,2023-03-13 02:25:00,20856.81,-1.142533,-1.142533,0.515313,1,0,btc,False,-0.600000,-60.000000
1,2023-03-13 05:15:00,21490.34,2023-03-13 05:20:00,21895.00,1.882986,0.000000,1.882986,1,0,btc,True,1.582986,158.298556
3,2023-03-13 22:05:00,24223.00,2023-03-13 22:45:00,23924.90,-1.230649,-1.230649,0.772984,0,1,btc,False,-0.600000,-60.000000
5,2023-03-14 19:30:00,25109.21,2023-03-14 19:40:00,25457.68,1.387817,-0.159901,1.387817,1,0,btc,True,1.087817,108.781746
11,2023-03-28 18:50:00,27144.63,2023-03-28 19:25:00,26871.83,-1.004987,-1.004987,0.000000,0,1,btc,True,0.704987,70.498699
16,2023-04-18 18:20:00,29948.93,2023-04-18 18:35:00,30283.85,1.118304,0.000000,1.118304,1,0,btc,True,0.818304,81.830373
3,2023-03-13 06:55:00,21997.11,2023-03-13 07:40:00,22470.06,2.150055,-0.327452,2.150055,0,1,btc,False,-0.600000,-60.000000
7,2023-03-14 19:35:00,25069.06,2023-03-14 19:40:00,25457.68,1.550198,0.000000,1.550198,1,0,btc,True,1.250198,125.019773
10,2023-03-17 18:55:00,26918.73,2023-03-17 19:20:00,26645.44,-1.015241,-1.015241,0.000000,0,1,btc,True,0.715241,71.524106
11,2023-03-18 08:00:00,27614.26,2023-03-18 08:30:00,27310.54,-1.099867,-1.099867,0.000000,0,1,btc,True,0.799867,79.986652
15,2023-03-23 22:00:00,28081.53,2023-03-23 22:15:00,28531.08,1.600874,0.000000,1.600874,1,0,btc,True,1.300874,130.087431
17,2023-03-26 20:45:00,28080.92,2023-03-26 21:30:00,27777.53,-1.080413,-1.080413,0.245968,0,1,btc,True,0.780413,78.041332
18,2023-03-29 15:15:00,28307.21,2023-03-29 15:30:00,28592.66,1.008400,0.000000,1.008400,1,0,btc,True,0.708400,70.840033
11,2023-03-20 03:15:00,28069.13,2023-03-20 03:35:00,27788.05,-1.001385,-1.001385,0.000000,0,1,btc,True,0.701385,70.138480